@import '../../assets/styles/vars.less';

.container {
    width: 100%;
    height: 100%;
    position:relative;
    display: flex;
   // padding: 10px;
   
  }

  .content {
   width: 100%;
   position: relative;
    display: block;
    position: relative;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    @media @onlyMobile {
        width: 96%;
      padding-right: 3px;
      margin: auto;
      align-content: center;
      justify-content: center;
      float: initial;
  }
  @media @onlyDesktopSmall {
      max-width: 1200px;
      padding-right: 8px;
      margin: 3% 5% 0 5%;
  }   
  @media @onlyDesktop{
    max-width: 1300px;
    padding-right: 13px;
    margin: 3% 5% 0 7%;
  }
  @media @onlyDesktopMid {
      max-width: 1300px;
      padding-right: 13px;
      margin: 2% 5% 0 7%;
  }   
  @media @onlyDesktopBig {
    max-width: 1920px;
    padding-right: 15px;
    margin: 2% 5% 0 7%;
  }   
}

.text-content {
    position: relative;
    display:block;
    height: auto;
    width: 100%;
    @media @onlyMobile {
        margin: 5% auto;
    }
    @media @onlyDesktopSmall {
        min-width: 700px;
        max-width: 1200px;
       
    }   
    @media @onlyDesktop {
        min-width: 1201px;
        max-width: 1299px;
       
    }
    @media @onlyDesktopMid {
        min-width: 1300px;
        max-width: 1400px;
      
    }
    @media @onlyDesktopBig {
        min-width: 1401px;
        max-width: 1600px;
      
    } 
}

h1 {
    position: relative;
    display: flex;
    width:100%;
    height: auto;
    margin:auto;
    font-weight: 800;
    letter-spacing: 0px;
    float: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    @media @onlyMobile {
        font-size: 33px;
    }
    @media @onlyDesktopSmall {
        font-size: 55px;
    }   
    @media @onlyDesktop {
        font-size: 60px;
    }
    @media @onlyDesktopMid {
        font-size: 65px;
    }   
    @media @onlyDesktopBig {
        font-size: 80px;
    } 
}

h2 {
    position: relative;
    display: block;
    
    font-weight: 700;
    float: center;
    text-align: center;
    height: fit-content;
    color:#d9068f;
    @media @onlyMobile {
        font-size: 15px;
        margin-top: 3px;
        width:97%;
    }
    @media @onlyDesktopSmall {
        font-size: 16px;
        margin-top: -14px;
        width:auto;
    }   
    @media @onlyDesktop {
        font-size: 20px;
        margin-top: -17px;
        letter-spacing: -3px;
        width:auto;
    }
    @media @onlyDesktopMid {
        font-size: 21px;
        margin-top: -15px;
        letter-spacing: -1px;
        width:auto;
    }  
    @media @onlyDesktopBig {
        font-size: 24px;
        margin-top: -15px;
        letter-spacing: -3px;
        width:auto;
    }
}

.Tshirts-container{
    position: relative;
    display:flex;
    height: auto;
    margin: 2% auto;
    width: 100%;
    align-items: center;
    -webkit-box-align: center;
    justify-content: flex-start;
    @media @onlyMobile { 
        align-items: start;
        -webkit-box-align: start;
        justify-content: left;
    }
   
}

.tshirtWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    cursor: pointer;
    width: 80%;
    @media @onlyMobile {
        display: block;
        justify-content: left;
        height: auto;
        width: 98%;
        overflow-y: auto;
    }
  
}

.Tshirt-c {
   
    position: relative;
    float: left;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    cursor: pointer;
    height: auto;
    @media @onlyMobile {
        margin-left: 5%;
        margin-bottom: 15%;
        justify-content: left;
        width: 98%;
       
    }
    @media @onlyDesktopSmall {
        margin-left: 5%;
        margin-right: 5%;
        width: 160px;
        height: 350px;
      
    }   
    @media @onlyDesktop {
        margin-left: 8%;
        width: 160px;
height: 350px;
      
    }
    @media @onlyDesktopMid {
        margin-left: 8%;
        width: 160px;
height: 350px;
       
    }
    @media @onlyDesktopBig {
        margin-left: 8%;
        margin-right: 5%;
        margin-top: 2%;
        width: 160px;
height: 350px;
      
    } 
    
}



.tshirt {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
    margin: auto;
    display: block;
    justify-content: space-between;
    @media @onlyMobile {
       width: 130px;
        height: 170px;
        margin-right: 5%;
    }
    @media @onlyDesktopSmall {
        width: 120px;
        height: 150px;
    }   
    @media @onlyDesktop {
        width: 150px;
        height: 180px;
    }
    @media @onlyDesktopMid {
        width: 150px;
        height: 180px;
    }
    @media @onlyDesktopBig {
        width: 170px;
        height: 200px;
      }
    } 


.t01 {
    background-image: url('../../assets/img/textil_01.png');
}
.t02 {
    background-image: url('../../assets/img/textil_02.png');
}
.t03 {
    background-image: url('../../assets/img/textil_03.png');
}

.ts-info {
    position: absolute;
    display: block;
    width: 100%;
    height: 75px;
  //  border: 1px solid #000;
  //  transition: all .5s ease-in-out;
    z-index: 2;
   // background-color:#364592;
    margin: auto;
   // 
    z-index: 2;
    @media @onlyMobile {
        margin-top: 82%;
       
    }
    @media @onlyDesktopSmall {
        margin-top: 70%;
      
    }   
    @media @onlyDesktop {
        margin-top: 70%;
      
    }
    @media @onlyDesktopMid {
        margin-top: 70%;
       
    }
    @media @onlyDesktopBig {
        margin-top: 92%;
      
    } 
}

.ts-info-c {
    background-color:#364592;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
   // opacity: 0;
}


.ts-arrow {
    position: relative;
    display: block;
    background-image: url('../../assets/img/flecha.png');
    width: 25%;
    height: 25px;
    z-index: 3;
    background-size: contain;
    background-repeat: no-repeat;
  
    @media @onlyMobile {
        position: absolute;
        margin-top: 50%;
        margin-left: 75%;
        transform: rotate(-90deg);
    }
    @media @onlyDesktopSmall {
        margin: 100% 40% 0 40%;
    }   
    @media @onlyDesktop {
        margin: 110% 40% 0 40%;
    }
    @media @onlyDesktopMid {
        margin: 107% 40% 0 40%;
    }
    @media @onlyDesktopBig {
        margin: 117% 40% 0 40%;
    } 
}
@media @onlyDesktopSmall {
    @-webkit-keyframes  move-arw-d { 
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(37px); } 
    }
    @keyframes move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(37px); } 
    }
    @-moz-keyframes move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(37px); } 
    }
    @-o-keyframes  move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(37px); } 
    }
    @-webkit-keyframes  move-arw-d-back { 
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-37px); } 
    }
    @keyframes move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-37px); } 
    }
    @-moz-keyframes move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-37px); } 
    }
    @-o-keyframes  move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-37px); } 
    }
}
@media @onlyDesktop {
    @-webkit-keyframes  move-arw-d { 
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(20px); } 
    }
    @keyframes move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(20px); } 
    }
    @-moz-keyframes move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(20px); } 
    }
    @-o-keyframes  move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(20px); } 
    }
    @-webkit-keyframes  move-arw-d-back { 
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-20px); } 
    }
    @keyframes move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-20px); } 
    }
    @-moz-keyframes move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-20px); } 
    }
    @-o-keyframes  move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-20px); } 
    }
}
@media @onlyDesktopMid {
    @-webkit-keyframes  move-arw-d { 
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(20px); } 
    }
    @keyframes move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(20px); } 
    }
    @-moz-keyframes move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(20px); } 
    }
    @-o-keyframes  move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(20px); } 
    }
    @-webkit-keyframes  move-arw-d-back { 
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-20px); } 
    }
    @keyframes move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-20px); } 
    }
    @-moz-keyframes move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-20px); } 
    }
    @-o-keyframes  move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-20px); } 
    }
}
@media @onlyDesktopBig {
    @-webkit-keyframes  move-arw-d { 
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(28px); } 
    }
    @keyframes move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(28px); } 
    }
    @-moz-keyframes move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(28px); } 
    }
    @-o-keyframes  move-arw-d {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(28px); } 
    }
    @-webkit-keyframes  move-arw-d-back { 
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-28px); } 
    }
    @keyframes move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-28px); } 
    }
    @-moz-keyframes move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-28px); } 
    }
    @-o-keyframes  move-arw-d-back {
        0% { -webkit-transform: translateY(0px); }
        100% { -webkit-transform: translateY(-28px); } 
    }
}   

.move-arrow-d {
    -webkit-animation:  move-arw-d  1.5s ease-in-out forwards;
    -moz-animation:  move-arw-d  1.5s ease-in-out forwards;
    -o-animation:  move-arw-d  1.5s ease-in-out forwards;
    animation:  move-arw-d  1.5s ease-in-out forwards;
}

.move-arrow-d-back {
    -webkit-animation:  move-arw-d-back  1.5s ease-in-out forwards;
    -moz-animation:  move-arw-d-back  1.5s ease-in-out forwards;
    -o-animation:  move-arw-d-back  1.5s ease-in-out forwards;
    animation:  move-arw-d-back  1.5s ease-in-out forwards;
}

.show-blue-label {
    -webkit-animation:  show-b-label  1s ease-in-out forwards;
    -moz-animation:  show-b-label  1s ease-in-out forwards;
    -o-animation:  show-b-label  1s ease-in-out forwards;
    animation:  show-b-label  1s ease-in-out forwards;
}

.hide-blue-label {
    -webkit-animation:  hide-blue-label  1s ease-in-out forwards;
    -moz-animation: hide-blue-label  1s ease-in-out forwards;
    -o-animation:  hide-blue-label  1s ease-in-out forwards;
    animation:  hide-blue-label  1s ease-in-out forwards;
}

@keyframes show-b-label {

  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes hide-blue-label {

    0% {opacity:1;}
    100% {opacity:0;}
  }

.ts-info-c h3 {

    font-family: Montserrat;
    font-style: nomal;
    font-weight: 600;
    position: relative;
    top: 10%;
    left: 10px;
    color: @white;
}

.ts-info-c p {
    
    font-family: Montserrat;
    font-style: nomal;
    font-weight: 500;
    position: relative;
    top: 17%;
    left: 9px;
    text-align: justify;
    color: @white;
    font-size: 8.5px;
    width: 90%;
   // height: 1%;
}

.t-list-c {
    position: relative;
    width: 100%;
    font-size: 9px;
    height: 170px;
    float: left;
    //min-height: 220px;
    //@media @onlyDesktopSmall {  margin-top: 300%; }
   // @media @onlyDesktop {  margin-top: 275%; }
    margin-top: 30px;
    @media @onlyMobile { 
        position: relative;
        min-height: 0;
        margin-top: 0;
        width: 55%;
       
    }
    

}

.onlySafari {
    margin-top: 100%;
}

.t-list-c p{
    color: @gray-dark;
    font-weight: 600;
    padding: 3px;
    font-size: 9px;
    width: 90%;
    text-align: justify;
    margin: 7% auto;
    @media @onlyMobile {
        margin-right: 10%;
     }
}

.t-list-c ul {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 7%;
    list-style-type: none;
    
}

.t-list-c ul li {
    color: @gray-dark;
    font-size: 8px;
    font-weight: 600;
    padding: 3px;
    
}



.t-list-c ul li span {
    width: 8px;
    position: relative;
    margin-right: 5px;
    color:#364592;
    background-image: url('../../assets/img/bullet_lista.png');
}

.bullet-list {
    width: 8px;
    height: auto;
    margin: auto;
    position: relative;
    float: left;
    align-items: center;
    align-content: center;
    padding-right: 5px;
    padding-top: 0px;
}