<section class="container">
    <div class="content">
        <div class="text-content">
            <h1 class="mover">IMPRESI&Oacute;N TEXTIL</h1>
            <h2 class="mover">TODO TIPO DE PLAYERAS, GORRAS DISPLAY´S Y MUCHO MÁS...</h2>
        </div>
        <div class="Tshirts-container">
            <div class="tshirtWrapper">
                <div class="Tshirt-c"  (mouseenter)="doFlip(1)" (mouseleave)="doFlip(0)">
                    <div class="tshirt t01">
                      <!--  <span class="txt-s-textil">VINIL TEXTIL</span> -->
                        <div class="ts-info" >
                            <div class="ts-info-c" [ngClass]="displayInfo == 1 ? 'show-blue-label' : 'hide-blue-label'">
                                <p >Contamos con todo tipo de t&eacute;cnicas de impresi&oacute;n para textiles, ya sea sublimado, serigraf&iacute;a, vinil textil o necesidad ,podemos apoyarte.</p>
                            </div>    
                        </div>
                        <div class="ts-arrow" [ngClass]="displayInfo == 1 ? 'move-arrow-d' : 'move-arrow-d-back' "></div>
                    </div>
                    <div class="t-list-c"  [ngClass]="displayInfo == 1 ? 'show-blue-label' : 'hide-blue-label'">
                        <p>Algunas aplicaciones de nuestros adhesivos termo adheribles:</p>
                        <ul>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Prendas publicitarias</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Equipos deportivos</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Polos</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Camisetas de algod&oacute;n, nylon y poli&eacute;ster</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Aplicamos a art&iacute;culos promocionales</li>
                        </ul>
                    </div>
                </div>
                <div class="Tshirt-c"  (mouseenter)="doFlip(2)" (mouseleave)="doFlip(0)">
                  <!--  <span class="txt-s-textil">SERIGRAF&Iacute;A</span> -->
                    <div class="tshirt t02" >
                        <div class="ts-info" >
                            <div class="ts-info-c" [ngClass]="displayInfo == 2 ? 'show-blue-label' : 'hide-blue-label'">
                            <!--<div class="ts-info-c" [ngClass]="displayInfo == 2 ? 'serv-open' : 'serv-reopen' ">-->
                                <p>Contamos con la mejor opci&oacute;n para personalizar o brandear todo tpo de prendas o art&iacute;culos textiles</p>
                            </div>
                        </div>
                        <div class="ts-arrow"  [ngClass]="displayInfo == 2 ? 'move-arrow-d' : 'move-arrow-d-back' "></div>
                    </div>
                    <div class="t-list-c"  [ngClass]="displayInfo == 2 ? 'show-blue-label' : 'hide-blue-label'">
                        <p>Imprimimos sobre tela y Fabricamos prendas para todo tipo de Proyectos</p>
                        <ul>
                         <!--   <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Impresi&oacute;n de pl&aacute;sticos</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Tejidos, vestidos y telas</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Madera</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Cristales</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Art&iacute;culos publicitarios</li>
                         -->
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Cuello redondo</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Playeras tipo polo</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Cuello tipo V</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Proyectos especiales</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Display´s publicitarios</li>
                        </ul>
                    </div>
                </div>
                <div class="Tshirt-c"  (mouseenter)="doFlip(3)" (mouseleave)="doFlip(0)">
                  <!--  <span class="txt-s-textil">SUBLIMACI&Oacute;N</span> -->
                    <div class="tshirt t03">
                        <div class="ts-info" >
                            <div class="ts-info-c" [ngClass]="displayInfo == 3 ? 'show-blue-label' : 'hide-blue-label'">
                            <!--<div class="ts-info-c" [ngClass]="displayInfo == 3 ? 'serv-open' : 'serv-reopen' ">-->
                                <p *ngIf="displayInfo == 3">Contamos con la mejor opci&oacute;n para personalizar o brandear todo tpo de prendas o art&iacute;culos textiles</p>
                            
                            </div>
                        </div>    
                        <div class="ts-arrow"  [ngClass]="displayInfo == 3 ? 'move-arrow-d' : 'move-arrow-d-back' "></div>
                    </div>
                    <div class="t-list-c" [ngClass]="displayInfo == 3 ? 'show-blue-label' : 'hide-blue-label'">
                        <p>Crearmos impresiones de alta calidad y muy duraderas. </p>
                        <ul>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Cuello redondo, playeras tipo polo</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Cuello tipo V</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Proyectos especiales</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Display´s publicitarios</li>
                            <li><img class="bullet-list" src="{{imgs}}bullet_lista.png">Impresi&oacute;n de pl&aacute;sticos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>    
    </div>    
</section>    