@import '../../assets/styles/vars.less';
 
.menu-container {
    
    width: 60%;
    height: auto;
    -webkit-box-align: center;
    align-items: center;
    flex-basis: 60%;
    justify-content: flex-end;
    -webkit-box-pack: end;
    -webkit-box-flex: inherit;
    background-color:@white;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    @media @onlyMobile {
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        top: 0;
        left: 0;
        margin-left: -100%;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: initial;
        justify-content: left;
        align-items: center;
        color: #fff;
        z-index: 100;
    }
}

.menu-container.show{
    margin-left: 0;
}

.menu-desktop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: @white;
    display: flex;
    width: 70%;
    height: 60%;
    align-items: center;
    -webkit-box-align: center;
    justify-content: end;
    @media @onlyMobile { 
        width: 50%;
        height: 100%;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
    }
}

.menu-desktop li {
    display: flex;
    width: auto;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    @media @onlyMobile {
        min-width: 80px;
        font-size: 12px;
        margin-top: 2rem;
        margin-left: 5%;
        align-items: flex-start;
    }
    @media @onlyDesktopSmall {
        min-width: 80px;
        font-size: 12px;
        height: 25px;
    }   
    @media @onlyDesktopMid {
        min-width: 100px;
        font-size: 14px;
        height: 25px;
    }   
    @media @onlyDesktop {
        min-width: 120px;
        font-size: 15px;
        height: 25px;
    }
    @media @onlyDesktopBig {
        min-width: 140px;
        font-size: 16px;
        height: 25px;
    } 
}

.mobileOnly { 
    @media @onlyDesktopSmall {
      display: none;
    }   
    @media @onlyDesktopMid {
        display: none;
    }   
    @media @onlyDesktop {
        display: none;
    }
    @media @onlyDesktopBig {
        display: none;
    } 
}
   

.menu-desktop li a {
    text-decoration: none;
    color:@gray-med;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    .active {
        color: @black !important;
        font-weight: 600;
    }
}

.menu-desktop li a:hover  {
    font-family: Montserrat;
    font-weight: 600;
    transform: translateX(10px);
   // transition: .5s;
   animation-duration: 700ms;
   animation-delay: 300ms;
    padding-right: 15px;
    color:@black;
    cursor: pointer;
   
}

.submenu {

    width: 120px;
    height: 60px;
    position: absolute;
    margin-top: 85px;
    margin-left: 18px;
   // box-shadow: 2px 2px 20px @gray;
    background-color: rgba(255, 255, 255, 0.8);
    @media @onlyMobile {
        display: block;
        position: relative;
        margin-top: 15px;
        margin-left: -30px;
        height: 50px;
     }
   
}

.onlySafari {
    margin-top: 45px;
}

.submenu li {
    height: 15px;
    margin-top: 15px
;
}

li>.active {
    color: @black !important;
    font-weight: 600 !important;
}

li a>.active {
    color: @black !important;
    font-weight: 600 !important;
}

.button-menu{
    @media @onlyMobile {
        z-index: 200;
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        background: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    display:none;    
  }
  
  .button-menu span{
    width: 37px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #444444;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: all .2s linear;
  }
  
  .button-menu.close span {
    opacity: 1;
    transform: rotate(45deg) translate(0px, 0px);
    background: #ffffff;
  }
  
  .button-menu.close span:nth-child(2){
    transform: rotate(-45deg) translate(-8px, 5px);
  }
  
  .button-menu.close span:nth-child(3){
    display: none;
  }
  

