<header>
    <section>
        <div class="logo-container" (click)="goHome()"></div>
      <!--  <div class="menu-container"></div> -->
      <nav class="menu-container" [ngClass]=" menuMob == true ? 'show' : '' ">
          <ul class="menu-desktop">
              <li *ngIf="windowW < 700" class="link-element "><a (click)="toggleMenuMob()" (click)="goHome()" [ngClass]="ruta == '' ? 'active' : '' ">Inicio</a></li>
              <li class="link-element"><a href="https://api.whatsapp.com/send?phone=525611092226" target="_blank">Cat&aacute;logo</a></li>
              <li class="link-element" [ngClass]="ruta == 'branding' ? 'active' : '' " ><a (click)="toggleMenuMob()"  (click)="goBranding()" [ngClass]="ruta == 'branding' ? 'active' : '' "  ><span>Branding</span></a></li>
              <li class="link-element opensub"><a (click)="toggleSub()" [ngClass]="ruta == 'impresion' || ruta == 'textil'  ? 'active' : '' ">Impresi&oacute;n</a>
                <ul class="submenu" [ngStyle]="{'display': ShowSub ? 'block' : 'none'}" [ngClass]="onlySafari == true ? 'onlySafari' : ''">
                    <li><a (click)="toggleMenuMob()" (click)="toggleSub()" (click)="goImpresion()" [ngClass]="ruta == 'impresion' ? 'active' : '' ">Servicios</a></li>
                    <li><a (click)="toggleMenuMob()" (click)="toggleSub()" (click)="goTextil()" [ngClass]="ruta == 'textil' ? 'active' : '' ">Textil</a></li>
                </ul></li>
              <li class="link-element"><a (click)="toggleMenuMob()" (click)="goCrafting()" [ngClass]="ruta == 'crafting' ? 'active' : '' ">Crafting</a></li>
              <li class="link-element"><a (click)="toggleMenuMob()" (click)="goEnvios()" [ngClass]="ruta == 'envios' ? 'active' : '' ">Envios</a></li>
              <li class="link-element"><a (click)="toggleMenuMob()" (click)="goContacto()" [ngClass]="ruta == 'contacto' ? 'active' : '' ">Contacto</a></li>
              <li  *ngIf="windowW < 700" class="link-element"><a (click)="toggleMenuMob()" href="{{pdf}}"  target="_blank" >Aviso de Privacidad</a></li>
               <li  *ngIf="windowW < 700" class="link-element"><a (click)="toggleMenuMob()" href="{{pdfTerms}}"  target="_blank" >Términos y Condiciones</a></li>
          </ul>
           
      </nav>
      <button id="button-menu" class="button-menu" [ngClass]=" menuMob == true ? 'close' : '' " (click)="toggleMenuMob()" >
        <span></span>
        <span></span>
        <span></span>
      </button>
        
   
    </section>
</header>   