<footer>
    <section>
        <nav class="footer-container">
            <ul class="footer-menu" >
            <!--    <li class="footer-element"><div class="web"></div><a href="http://www.kickoffmarketing.com.mx"  target="_blank">www.kickoffmarketing.com.mx</a></li>
                <li class="footer-element"><div class="mail"></div><a href="mailto:contacto@www.kickoffmarketing.com.mx"  target="_blank">contacto@www.kickoffmarketing.com.mx</a></li>
                <li class="footer-element"><div class="whats"></div><a href="https://api.whatsapp.com/send?phone=525611092226"  target="_blank">+52 5543308601</a></li>
                <li class="footer-element"><div class="fb"></div><a href="https://www.facebook.com/kickoffmarketing.com.mx"  target="_blank">@kickoffmarketing.com.mx</a></li>
                <li class="footer-element"><div class="tw"></div><a href="https://twitter.com/kickoffmkt" target="_blank">@kickoffmkt</a></li>
                -->
                <li class="footer-element"><a href="{{pdf}}"  target="_blank"> Consulta nuestro Aviso de privacidad</a></li>
            </ul>
        </nav>
    </section>
</footer>

