@import '../../assets/styles/vars.less';

.footer-container {

    width: 80%;
    /* height: auto; */
    align-items: center;
    position: relative;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    margin: auto;
    background-color:@gray-med;
    color: @black;
    @media @onlyMobile { 
        width: 100%;
        position: relative;
      
    }
}

.footer-menu {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: @white;
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    -webkit-box-align: center;
    justify-content: space-between;
    @media @onlyMobile {
        display: block;
        height: auto;
     }
   
}

.footer-menu li {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
   /* display: flex;
    width: auto;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    @media @onlyMobile {
        display: block;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: auto;
        min-height: 21px;
        margin-top: 5px;
        font-size: 10px;
    }
    @media @onlyDesktopSmall {
        min-width: 80px;
        font-size: 8px;
    }   
    @media @onlyDesktop {
        min-width: 120px;
        font-size: 10px;
    }
    @media @onlyDesktopMid {
        min-width: 100px;
        font-size: 10px;
    }   
    @media @onlyDesktopBig {
        min-width: 140px;
        font-size: 12px;
    }  */
}

.footer-menu li a {
    text-decoration: none;
    color: @black;
    background-color: @white;
    position: relative;
    float: left;
   // margin-left: 5%;
    @media @onlyMobile {
        padding-top: 5px;
        margin-left: 9px;
    }
}

.footer-menu li div {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    @media @onlyMobile {
        position: relative;
        float: left;
        margin-left: 20%;
    }
    @media @onlyDesktopSmall {
        margin-right: 5px;
    }   
    @media @onlyDesktop {
        margin-right: 7px;
    }
    @media @onlyDesktopMid {
        margin-right: 10px;
    }   
    @media @onlyDesktopBig {
        margin-right: 13px;
    } 
}

.web {
    background-image: url('../../assets/img/web.png');
}

.mail {
    background-image: url('../../assets/img/mail.png');
}

.whats {
    background-image: url('../../assets/img/whats.png');
}

.fb {
    background-image: url('../../assets/img/fb.png');
}

.tw {
    background-image: url('../../assets/img/tw.png');
}