<section class="container" >
    <div class="content" >
        <div class="text-content">
            <h1 class="textT ">CONTÁCTANOS</h1>
            <h2 class="mover">También puedes seguirnos a través de todas nuestras redes sociales</h2>
        </div>
        <div [hidden]="offsetValue != 'contacto'" id="circlescontainer" class="contacto-circles-container" #circlescontainer >
            <div id="contacto-c-cont" class="contacto-c-cont" >
                <a href="http://www.kickoffmarketing.com.mx"  target="_blank"><div class="web"></div></a>
                <a href="mailto:contacto@kickoffmarketing.com.mx"  target="_blank"><div class="mail"></div></a>
                <a href="https://api.whatsapp.com/send?phone=525611092226"  target="_blank"><div class="whats"></div> </a>
                <a href="https://www.facebook.com/kickoffmarketing.com.mx"  target="_blank"><div class="fb"></div> </a>
                <a href="https://twitter.com/kickoffmkt" target="_blank"><div class="tw"></div> </a>
                <a href="https://www.instagram.com/kickoffmarketing/?hl=es-la" target="_blank"><div class="Ig"></div> </a>
                <a href="https://youtube.com/channel/UC2VIP6AuEK50DfrVVGZF1XA" target="_blank"><div class="yt"></div></a>
            </div>
        </div>
    </div>
</section>        