@import '../../assets/styles/vars.less';
.container {
    width: 98%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 11px;
    margin-top: 3%;

  }

  .content {
   
    display: block;
    position: relative;
    float: left;
   
    @media @onlyMobile {
      max-width: 720px;
      padding-right: 3px;
      margin: 0 2% 0 2%;
      overflow-y: auto;
  }
  @media @onlyDesktopSmall {
      max-width: 1279px;
      padding-right: 8px;
      margin: 0 20% 0 5%;
  }   
  @media @onlyDesktop{
      max-width: 1359px;
      padding-right: 8px;
      margin: 0 20% 0 5%;
  }
  @media @onlyDesktopMid {
      max-width: 1439px;
      padding-right: 13px;
      margin: 0 20% 0 5%;
  }   
  @media @onlyDesktopBig {
    max-width: 1920px;
    padding-right: 15px;
    margin: 0 10% 0 10%;
  }   
}


.text-content {
    position: relative;
    display:block;
    height: auto;
   
    width: 100%;
    @media @onlyMobile {
        margin: 3% auto;
    }
    @media @onlyDesktopSmall {
        margin: 2% auto;
        min-width: 700px;
        max-width: 1200px;
        min-height: 80px;
    }   
    @media @onlyDesktop {
        margin: 2% auto;
        min-width: 1201px;
        max-width: 1299px;
        min-height: 85px;
    }
    @media @onlyDesktopMid {
        margin: 2% auto;
        min-width: 1300px;
        max-width: 1400px;
        min-height: 90px;
    }
    @media @onlyDesktopBig {
        margin: 2% auto;
        min-width: 1401px;
        max-width: 1600px;
        min-height: 100px;
    } 
}

h1 {
    position: relative;
    display: block;
    width:auto;
    margin:auto;
    font-weight: 800;
    letter-spacing: -5px;
    float: center;
    text-align: left;
    height: fit-content;
    @media @onlyMobile {
        font-size: 30px;
    }
    @media @onlyDesktopSmall {
        font-size: 40px;
    }   
    @media @onlyDesktopMid {
        font-size: 50px;
    }   
    @media @onlyDesktop {
        font-size: 50px;
    }
    @media @onlyDesktopBig {
        font-size: 65px;
    } 
}

h2 {
    position: relative;
    display: block;
    width:auto;
    font-weight: 700;
    float: center;
    text-align: left;
    letter-spacing: -2px;
    height: fit-content;
    color:#73b3f9;
    @media @onlyMobile {
        font-size: 15px;
        margin-top: -1px;
    }
    @media @onlyDesktopSmall {
        font-size: 22px;
        margin-top: -6px;
    }   
    @media @onlyDesktopMid {
        font-size: 30px;
        margin-top: -12px;
    }   
    @media @onlyDesktop {
        font-size:30px;
        margin-top: -13px;
    }
    @media @onlyDesktopBig {
        font-size: 37px;
        margin-top: -15px;
    }
}

.contacto-circles-container {
    position: relative;
    display:flex;
    height: auto;
   
    width: 100%;
    @media @onlyMobile {
        
        max-width: 500px;
    }
    @media @onlyDesktopSmall {
        min-width: 450px;
        max-width: 620px;
        min-height: 100px;
        margin: 7% auto;
    }   
    @media @onlyDesktop {
        min-width: 800px;
        max-width: 809px;
        min-height: 130px;
        margin: 7% auto;
    }
    @media @onlyDesktopMid {
        min-width: 900px;
        max-width: 909px;
        min-height: 150px;
        margin: 5% auto;
    }
    @media @onlyDesktopBig {
        min-width: 1000px;
        max-width: 1000px;
        min-height: 150px;
        margin: 5% auto;
    } 
}

.contacto-c-cont {
    position: relative;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    cursor: pointer;
    width: 100%;
    border-radius: 50%;
    @media @onlyMobile {
        height: 90px;
        position: relative;
        display: table;
    }
    @media @onlyDesktopSmall {
        height: 80px;
    }   
    @media @onlyDesktop {
        height: 100px;
    }
    @media @onlyDesktopMid {
        height: 100px;
    }
    @media @onlyDesktopBig {
      height: 120px;
    } 
}

.contacto-c-cont div {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    float: left;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 100%;
    cursor: pointer;
    @media @onlyMobile {
        width: 80px;
        height: 80px;
        margin: 18px;
        position: relative;
        float: left;
        display: block;
    }
    @media @onlyDesktopSmall {
        width: 80px;
        width: 80px;
    }   
    @media @onlyDesktop {
        width: 100px;
        height: 100px;
    }
    @media @onlyDesktopMid {
        width: 100px;
        height: 100px;
    }
    @media @onlyDesktopBig {
        width: 120px;
        height: 120px;
    } 
}

.contacto-c-cont div a {
    @media @onlyMobile {
        width: 80px;
        height: 80px;
    }
    @media @onlyDesktopSmall {
        width: 80px;
        width: 80px;
    }   
    @media @onlyDesktop {
        width: 100px;
        height: 100px;
    }
    @media @onlyDesktopMid {
        width: 100px;
        height: 100px;
    }
    @media @onlyDesktopBig {
        width: 120px;
        height: 120px;
    } 
}

.grow { transition: all .2s ease-in-out; }
.contacto-c-cont div:hover { transform: scale(2); }

.web {
    background-image: url('../../assets/img/web_color.png');
}

.mail {
    background-image: url('../../assets/img/mail_color.png');
}

.whats {
    background-image: url('../../assets/img/whats_color.png');
}

.fb {
    background-image: url('../../assets/img/fb_color.png');
}

.tw {
    background-image: url('../../assets/img/tw_color.png');
}

.Ig {
    background-image: url('../../assets/img/Ig_color.png');
}

.yt {
    background-image: url('../../assets/img/yt.png');
}