
<section class="container" [ngStyle]="{'height.px' : windowW, 'max-width.px' : HCont }">
    <div class="content" >
        <div class="text-content">
            <h2 class="mover">IMPRIMIMOS EN TODO TIPO DE MATERIALES</h2>
        </div>
        <div [hidden]="offsetValue != 'impresion'" id="circlescontainer" class="circles-container" #circlescontainer >
            <div id="circleRef" class="circle-group first" #circleRef (mouseenter)="doFlip(1)" (click)="openCard(1)">
                <div id="player" class="player" [ngClass]="fliper == 1 ? 'flip' : '' ">
                    <div class="c-cyan"></div> 
                    <div class="back s1"></div>
                </div>
            </div>

            <div class="circle-group second "  [ngClass]="offsetValue == 'impresion' ? 'move-magenta' : '' " (mouseenter)="doFlip(2)" (click)="openCard(2)">
                <div id="player" class="player" [ngClass]="fliper == 2 ? 'flip' : '' ">
                    <div class="c-magenta"></div>
                    <div class="back s2"></div> 
                </div>
            </div>
            <div class="circle-group third" [ngClass]="offsetValue == 'impresion' ? 'move-yellow' : '' " (mouseenter)="doFlip(3)" (click)="openCard(3)">
                <div id="player" class="player" [ngClass]="fliper == 3 ? 'flip' : '' ">
                    <div class="c-yellow"></div> 
                    <div class="back s3"></div>
                </div>
            </div>
            <div class="circle-group fourth " [ngClass]="offsetValue == 'impresion' ? 'move-black' : '' " (mouseenter)="doFlip(4)" (click)="openCard(4)">
                <div id="player" class="player" [ngClass]="fliper == 4 ? 'flip' : '' ">
                    <div class="c-black"></div>
                    <div class="back s4"></div>
                </div>
            </div> 
        </div>
        <div *ngIf="displayInfo > 0" class="cont-info" [ngClass]="(innerWidth < 600 && displayInfo == 2) ? 'move-box-magenta' : (innerWidth < 600 && displayInfo == 3) ? 'move-box-yellow' : (innerWidth < 600 && displayInfo == 4) ? 'move-box-black' : '' ">
            <div class="infoServicio" [ngClass]="displayInfo > 0 ? 'serv-open' : 'serv-reopen' ">
              <!--  <h3>{{ subtitleServ }}</h3> -->
                <p>{{ infoServ }}</p>
            </div>
        </div>
        

        
    </div>
</section>