@import '../../assets/styles/vars.less';
.container {
    width: 98%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 11px;
    margin-top: 3%;

  }

/*
.content {
    padding: 0;
    padding-top: 2%;
    margin-top: 3%;
    align-items: flex-start;
    display: inline-block;
} */
/*
.container {
    display: block;
    padding: 10px;
    transform: rotate(90deg);
    transform-origin: right top;
  }
  
.content {
    padding: 0;
    margin-top: 3%;
    align-items: flex-start;
    padding-top: 2%;
} */

.content {
   
    display: block;
    position: relative;
    float: left;
   
    @media @onlyMobile {
      max-width: 720px;
      padding-right: 3px;
      margin: 0 2% 0 2%;
      overflow-y: auto;
  }
  @media @onlyDesktopSmall {
      max-width: 1279px;
      padding-right: 8px;
      margin: 0 20% 0 5%;
  }   
  @media @onlyDesktop{
    max-width: 1300px;
    padding-right: 13px;
    margin: 2% 0% 0 0%;
  }
  @media @onlyDesktopMid {
    max-width: 1300px;
    padding-right: 13px;
    margin: 2% 0% 0 0%;
  }   
  @media @onlyDesktopBig {
    max-width: 1920px;
    padding-right: 15px;
    margin: 0 10% 0 10%;
  }   
}


.text-content {
    position: relative;
    display:block;
    height: auto;
   
    width: 100%;
    @media @onlyMobile {
        margin: 3% auto;
    }
    @media @onlyDesktopSmall {
        margin: 2% auto;
        min-width: 700px;
        max-width: 1200px;
        min-height: 80px;
    }   
    @media @onlyDesktop {
        margin: 2% auto;
        min-width: 1201px;
        max-width: 1299px;
        min-height: 85px;
    }
    @media @onlyDesktopMid {
        margin: 2% auto;
        min-width: 1300px;
        max-width: 1400px;
        min-height: 90px;
    }
    @media @onlyDesktopBig {
        margin: 2% auto;
        min-width: 1401px;
        max-width: 1600px;
        min-height: 100px;
    } 
}

h1 {
    position: relative;
    display: block;
    width:auto;
    margin:auto;
    font-weight: 800;
    letter-spacing: -5px;
    float: center;
    text-align: center;
    height: fit-content;
    @media @onlyMobile {
        font-size: 50px;
    }
    @media @onlyDesktopSmall {
        font-size: 55px;
    }   
    @media @onlyDesktopMid {
        font-size: 65px;
    }   
    @media @onlyDesktop {
        font-size: 65px;
    }
    @media @onlyDesktopBig {
        font-size: 75px;
    } 
}

h2 {
    position: relative;
    display: block;
    width:auto;
    font-weight: 700;
    float: center;
    text-align: center;
    letter-spacing: -2px;
    height: fit-content;
    color:#d9068f;
    @media @onlyMobile {
        font-size: 28px;
        margin-top: -17px;
    }
    @media @onlyDesktopSmall {
        font-size: 34px;
        margin-top: -17px;
    }   
    @media @onlyDesktopMid {
        font-size: 40px;
        margin-top: -20px;
    }   
    @media @onlyDesktop {
        font-size: 40px;
        margin-top: -20px;
    }
    @media @onlyDesktopBig {
        font-size: 46px;
        margin-top: -25px;
    }
}

.circles-container {
    position: relative;
    display:flex;
    height: auto;
    margin: 2% auto;
    width: 100%;
    @media @onlyMobile {
        min-width: 500px;
        max-width: 599px;
    }
    @media @onlyDesktopSmall {
        min-width: 600px;
        max-width: 799px;
        min-height: 100px;
    }   
    @media @onlyDesktop {
        min-width: 800px;
        max-width: 899px;
        min-height: 130px;
    }
    @media @onlyDesktopMid {
        min-width: 900px;
        max-width: 999px;
        min-height: 150px;
    }
    @media @onlyDesktopBig {
        min-width: 1000px;
        max-width: 1100px;
        min-height: 150px;
    } 
}

.circle-group {
    position: absolute;
    display:block;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    cursor: pointer;
    @media @onlyMobile {
        width: 99px;
        height: 97px;
        left: 2%;
        margin-top: 4%;
        margin-bottom: 4%;
    }
    @media @onlyDesktopSmall {
        width: 119px;
        height: 117px;
    }   
    @media @onlyDesktop {
        width: 139px;
        height: 137px;
    }
    @media @onlyDesktopMid {
        width: 159px;
        height: 157px;
    }
    @media @onlyDesktopBig {
        width: 159px;
        height: 157px;
    } 
}

.player {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    border-radius: 50%;
}

.player div {
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
}

.back{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}


.first{
    z-index: 5;
    border-radius: 50%;
    
}

.second{
    z-index: 4;
    border-radius: 50%;
} 

.third{
    z-index: 3;
    border-radius: 50%;
} 

.fourth{
    z-index: 2;
    border-radius: 50%;
}

.c-cyan {
    background-image: url('../../assets/img/impresion_01.png');
}

.c-magenta {
    background-image: url('../../assets/img/impresion_02.png');
}

.c-yellow {
    background-image: url('../../assets/img/impresion_03.png');
}

.c-black {
    background-image: url('../../assets/img/impresion_04.png');
}

.s1 {
    background-image: url('../../assets/img/offset.jpg');
}

.s2 {
    background-image: url('../../assets/img/digital.jpg');
}
.s3 {
    background-image: url('../../assets/img/sublimacion.jpg');
}
.s4 {
    background-image: url('../../assets/img/gran_formato.jpg');
}

.flip{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}



.move-magenta {
    -webkit-animation:  move-second  1s ease-in-out forwards;
    -moz-animation:  move-second  1s ease-in-out forwards;
    -o-animation:  move-second  1s ease-in-out forwards;
    animation:  move-second  1s ease-in-out forwards;
}

.move-yellow {
    -webkit-animation:  move-third  2s ease-in-out forwards;
    -moz-animation:  move-third  2s ease-in-out forwards;
    -o-animation:  move-third  2s ease-in-out forwards;
    animation:  move-third  2s ease-in-out forwards;
}

.move-black {
    -webkit-animation:  move-four  3s ease-in-out forwards;
    -moz-animation:  move-four  3s ease-in-out forwards;
    -o-animation:  move-four  3s ease-in-out forwards;
    animation:  move-four  3s ease-in-out forwards;
}

.move-box-magenta {
    -webkit-animation:  move-second-txt  1s ease-in-out forwards;
    -moz-animation:  move-second-txt  1s ease-in-out forwards;
    -o-animation:  move-second-txt  1s ease-in-out forwards;
    animation:  move-second-txt  1s ease-in-out forwards;
}

.move-box-yellow {
    -webkit-animation:  move-third-txt  2s ease-in-out forwards;
    -moz-animation:  move-third-txt  2s ease-in-out forwards;
    -o-animation: move-third-txt  2s ease-in-out forwards;
    animation:  move-third-txt  2s ease-in-out forwards;
}

.move-box-black {
    -webkit-animation:  move-four-txt  2s ease-in-out forwards;
    -moz-animation:  move-four-txt  2s ease-in-out forwards;
    -o-animation:  move-four-txt 2s ease-in-out forwards;
    animation:  move-four-txt  2s ease-in-out forwards;
}

.cont-info {
    position: relative;
    display: block;
    z-index: 0;
    @media @onlyMobile {
        width: 65%;
        height: 120px;
        margin-left: 35%;
    }
    @media @onlyDesktopSmall {
        margin: 3% auto;
        width: 80%;
        min-width: 450px;
        max-width: 599px;
        height: 100px;
    }   
    @media @onlyDesktop {
        margin: 3% auto;
        width: 80%;
        min-width: 600px;
        max-width: 749px;
        height: 100px;
    }
    @media @onlyDesktopMid {
        margin: 2% auto;
        width: 80%;
        min-width: 750px;
        max-width: 899px;
        height: 100px;
    }
    @media @onlyDesktopBig {
        margin: 2% auto;
        width: 80%;
        min-width: 900px;
        max-width: 1050px;
        height: 100px;
    } 
}

.infoServicio {
    position: absolute;
    display: block;
    width: 100%;
    height: 0px;
    transition: all .5s ease-in-out;
    box-shadow: 2px 3px 15px grey;
    border-radius: 10px;
    z-index: 2;
    @media @onlyMobile {
        box-shadow: 2px 0px 4px grey;
        height: auto;
        width: 90%;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-top: 7px;
     }

}

.serv-open {
    height: 65px;
    @media @onlyMobile {  height: auto; }
    
}


.serv-reopen {
   
       height: 0px;
}

.infoServicio h3 {

    color: @gray-dark;
    font-family: Montserrat;
    font-style: nomal;
    font-weight: 600;
    position: relative;
    top: 10%;
    left: 10px;
    @media @onlyMobile {  left: 5px; }
}

.infoServicio p {
    
    color: @gray-dark;
    font-family: Montserrat;
    font-style: nomal;
    font-weight: 500;
    position: relative;
    top: 17%;
    left: 10px;
    text-align: justify;
    width: 95%;
    @media @onlyMobile {  left: 5px; font-size: 9.5px; }
}