<section class="container" >
    <div class="content">
       
        <div class="text-content-envios">
            <h1 class="">SERVICIO DE MENSAJERIA</h1>
            <h2 class="">CDMX Y ÁREA METROPOLITANA</h2>
           <a href="{{pdfTerms}}" target="_blank"> <img (click)="viewTerms(1)" class="envios-box" src="{{imgs}}envios.png"></a>
        </div>
    </div>
</section>