@import '../../assets/styles/vars.less';

.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 11px;
    margin-top: 3%;
    @media @onlyMobile {
        margin-top: 3%;
        padding: 0;
    }
    @media @onlyDesktopSmall { margin-top: 1%;}
}


.content {
    padding: 0;
    margin-top: 3%;
    display: block;
    position: relative;
    margin: 0 auto;
    @media @onlyMobile {
        max-width: 720px;
        padding-right: 3px;
        margin: 0 2% 0 2%;
    }
    @media @onlyDesktopSmall {
        max-width: 1279px;
        padding-right: 8px;
        padding-top: 0%;
        margin: 0 8% 0 10%;
    }   
    @media @onlyDesktop{
        max-width: 1359px;
        padding-right: 8px;
        padding-top: 2%;
        margin: 0 8% 0 8%;
    }
    @media @onlyDesktopMid {
        max-width: 1439px;
        padding-right: 13px;
        margin: 0 10% 0 15%;
        padding-top: 2%;
    }   
    @media @onlyDesktopBig {
        max-width: 1920px;
        padding-right: 15px;
        margin: 0 10% 0 25%;
        padding-top: 2%;
    }   
}

.envios-box {
    width: auto;
    
    height: auto;
    position: relative;
    display: flex;
    margin: auto;
   //margin: 3% auto;
    @media @onlyMobile {
        display: block;
        float: left;
        max-height: 450px;
        max-width: 90%;
        margin: 10% 5% 5% 5%;
    }
    @media @onlyDesktopSmall {
        max-height: 650px;
        max-width: 100%;
        margin: 0% 5% 5% 40%;
    }   
    @media @onlyDesktop {
        max-height: 750px;
        max-width: 80%;
        margin: 0% 5% 5% 45%;
    }
    @media @onlyDesktopMid {
        max-height: 750px;
        max-width: 90%;
        margin: 0% 5% 5% 45%;
    }
    
    @media @onlyDesktopBig {
        max-height: 750px;
        max-width: 90%;
        margin: 0% 5% 5% 45%;
    } 
}

.text-content-envios {
    position: relative;
    float: left;
    display:block;
    height: auto;
    margin: auto;
    @media @onlyMobile {
        width: 100%;
        min-width: 350px;
       // max-width: 450px;
        margin-top: 2%;
    }
    @media @onlyDesktopSmall {
        width: 60%;
        min-width: 400px;
        max-width: 600px;
        margin-top: 6%;
        margin-left: 1%;
    }   
    @media @onlyDesktopMid {
        width: 60%;
        min-width: 500px;
        max-width: 600px;
        margin-top: 3%;
        margin-left: 1%;
    }
    @media @onlyDesktop {
        width: 60%;
        min-width: 600px;
        max-width: 700px;
        margin-top: 3%;
        margin-left: 0%;
    }
    @media @onlyDesktopBig {
        width: 40%;
        min-width: 800px;
        max-width: 1100px;
        margin-top: 3%;
        margin-left: -15%;
    } 
}

.text-content-envios h1 {
    position: relative;
    display: block;
    width:auto;
    font-weight: 800;
    letter-spacing: -2px;
    float: right;
    text-align: right;
    height: fit-content;
    @media @onlyMobile {
        font-size: 25px;
    }
    @media @onlyDesktopSmall {
        font-size: 40px;
    }   
    @media @onlyDesktop {
        font-size: 40px;
    }
    @media @onlyDesktopMid {
        font-size: 40px;
    }   
    @media @onlyDesktopBig {
        font-size: 50px;
    } 
}

.text-content-envios h2 {
    position: relative;
    display: block;
    width:auto;
    font-weight: 700;
    float: right;
    text-align: right;
    letter-spacing: -2px;
    height: fit-content;
    color:#364592;
    @media @onlyMobile {
        font-size: 15px;
        margin-top: -4px;
    }
    @media @onlyDesktopSmall {
        font-size: 15px;
        margin-top: -10px;
    }   
    @media @onlyDesktopMid {
        font-size: 18px;
        margin-top: -12px;
    }   
    @media @onlyDesktop {
        font-size: 20px;
        margin-top: -12px;
    }
    @media @onlyDesktopBig {
        font-size: 28px;
        margin-top: -15px;
    }
}