<section class="container">
    <div class="content">
        <img class="crafting-box" src="{{imgs}}crafting.png">
        <div class="text-content" [hidden]="offsetValue != 'crafting'">
            <h1 class="textTC" [ngClass]="offsetValue == 'crafting' ? 'mover-craft' : '' ">CRAFTING</h1>
            <h2 class="textStC" [ngClass]="offsetValue == 'crafting' ? 'mover-craft' : '' ">DAMOS VIDA A TUS IDEAS</h2>
            <p class="txtCrafting" [ngClass]="offsetValue == 'crafting' ? 'mover-vert' : '' ">Diseñamos y desarrollamos una amplia gama de productos basándonos en las necesidades de cada proyecto; Podemos desarrollar Kits corporativos, reconocimientos, medallas y todo tipo de Giveaway´s para eventos.
                <br>
                También contamos con taller de carpintería por lo que podemos hacer desde una caja hasta un stand publicitario para una Expo´s.
                <br>
                Compártenos  tus ideas y nosotros te ayudamos a desarrollarla.
                
            </p>
        </div>
    </div>
</section>