<section class="container" >
    <div class="content">
        <img class="branding-box" src="{{imgs}}branding_box.png">
        <div class="text-content" [hidden]="offsetValue != 'branding'">
            <h1 class="textT " [ngClass]="offsetValue == 'branding' ? 'mover-brand' : '' ">BRANDING</h1>
            <h2 class="textSt" [ngClass]="offsetValue == 'branding' ? 'mover-brand' : '' ">LO QUE TU MARCA NECESITE</h2>
            <p class="txtBranding" [ngClass]="offsetValue == 'branding' ? 'mover-vert' : '' ">Personalizaci&oacute;n y diseño de una amplia gama de productos promocionales, tambi&eacute;n realizamos proyectos sobre diseño, Kit´s corporativos y giveaways.<br><br>
            Disponemos de la infraestructura adecuada para realizar todo tipo de transformaciones e impresión, <b>Termo grabado, Bordado, Sand blast, Grabado laser, Tampograf&iacute;a</b>
            aplicable en diversos tipos de materiales como vidrio, tela, pl&aacute;stico, metal, madera, cer&aacute;mica, cart&oacute;n vidrio, resina y mucho m&aacute;s. 
            </p>
        </div>
    </div>
</section>