@import '../../assets/styles/vars.less';

/*
.container {
    width: 100%;
    position:relative;
    display: block;
    padding: 10px;
    transform: rotate(90deg);
    transform-origin: right top;
  }
  /*
.content {
    padding: 0;
    margin-top: 3%;
    align-items: flex-start;
    padding-top: 2%;
} */

.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 11px;
    margin-top: 3%;
    @media @onlyMobile {
        margin-top: 3%;
    }
}

.content {
    display: block;
    position: relative;
    float: left;
    @media @onlyMobile {
        width: 96%;
        padding-right: 3px;
        margin: auto;
        align-content: center;
        justify-content: center;
        float: initial;
    }
    @media @onlyDesktopSmall {
        max-width: 1200px;
        padding-right: 8px;
        min-width: 900px;
        margin: 0 10% 0 1%;
    }   
    @media @onlyDesktop{
        max-width: 1359px;
        padding-right: 8px;
        margin: auto;
        margin: 0 13% 0 10%;
    }
  @media @onlyDesktopMid {
      max-width: 1439px;
      padding-right: 13px;
      margin: 0 10% 0 10%;
  }   
  @media @onlyDesktopBig {
      max-width: 1920px;
      padding-right: 15px;
      margin: 0 10% 0 10%;
  }   
}

.branding-box {
    width: auto;
    height: auto;
    position: relative;
    display: flex;
    margin: auto;
    float:left;
    @media @onlyMobile {
        display: block;
        max-height: 350px;
        width: 50%;
        margin-left: 20%;
    }
    @media @onlyDesktopSmall {
        max-height: 450px;
        max-width: 40%;
        margin-left: -10%;
        margin-top: 8%;
    }   
    @media @onlyDesktop {
        max-height: 450px;
        max-width: 35%;
        margin-left: -8%;
        margin-top: 0%
    }
    @media @onlyDesktopMid {
        max-height: 450px;
        max-width: 35%;
        margin-left: -4%;
        margin-top: 0%;
    }
    @media @onlyDesktopBig {
        max-height: 700px;
        max-width: 40%;
        margin-left: -4%;
        margin-top: 4%;
    } 
}

.text-content {
    position: relative;
    height: auto;
    margin: auto;
    float: right;
   
    @media @onlyMobile {
        width: 100%;
        margin-top: 5%;
        padding: 9px;
       
    }
    @media @onlyDesktopSmall {
        width: 50%;
        min-width: 300px;
        max-width: 400px;
        margin-top: 6%;
        margin-right: 4%;
    }   
    @media @onlyDesktop {
        width: 45%;
        min-width: 500px;
        max-width: 600px;
        margin-top: 0%;
        margin-right: 15%;
    }
    @media @onlyDesktopMid {
        width: 50%;
        min-width: 400px;
        max-width: 510px;
        margin-top: 3%;
        margin-right: 10%;
    }
   
    @media @onlyDesktopBig {
        width: 40%;
        min-width: 600px;
        max-width: 800px;
        margin-top: 3%;
        margin-right: 6%;
    } 
}

.text-content p {
    position: relative;
    display: block;
    flex-direction: column;
    width: 100%;
    font-weight: 300;
    text-align: justify;
   
    float: right;
     @media @onlyMobile {
        font-size: 12px;
        line-height: 18px;
        max-width: 380px;
        margin-top: 15px;
    }
    @media @onlyDesktopSmall {
        font-size: 12px;
        line-height: 18px;
        max-width: 400px;
        margin-top: 50px;
    }   
    @media @onlyDesktopMid {
        font-size: 14px;
        line-height: 20px;
        max-width: 455px;
        margin-top: 50px;
    }   
    @media @onlyDesktop {
        font-size: 15px;
        line-height: 22px;
        max-width: 455px;
        margin-top: 50px;
    }
    @media @onlyDesktopBig {
        font-size: 16px;
        line-height: 23px;
        max-width: 575px;
        margin-top: 50px;
    } 
}

h1 {
    position: relative;
    display: block;
    width:auto;
    font-weight: 800;
    letter-spacing: -5px;
    float: right;
    text-align: right;
    height: fit-content;
    @media @onlyMobile {
        font-size: 50px;
        margin-right: 15%;
    }
    @media @onlyDesktopSmall {
        font-size: 75px;
    }   
    @media @onlyDesktopMid {
        font-size: 85px;
    }   
    @media @onlyDesktop {
        font-size: 85px;
    }
    @media @onlyDesktopBig {
        font-size: 105px;
    } 
}

h2 {
    position: relative;
    display: block;
    width:auto;
    font-weight: 700;
    float: right;
    text-align: right;
    letter-spacing: -2px;
    height: fit-content;
    color:#364592;
    @media @onlyMobile {
        font-size: 15px;
        margin-top: -12px;
        margin-right: 15%;
    }
    @media @onlyDesktopSmall {
        font-size: 15px;
        margin-top: -12px;
    }   
    @media @onlyDesktopMid {
        font-size: 18px;
        margin-top: -20px;
    }   
    @media @onlyDesktop {
        font-size: 20px;
        margin-top: -22px;
    }
    @media @onlyDesktopBig {
        font-size: 28px;
        margin-top: -25px;
    }
}

@-webkit-keyframes mover-brand {
    0% {opacity:0;}
    100% {opacity:1;}
    0% { -webkit-transform: translateX(50%); }
    100% { -webkit-transform: translateX(0%); }
  
} 
@-moz-keyframes mover-brand {
    0% {opacity:0;}
    100% {opacity:1;}
    0% { -moz-transform: translateX(50%); }
    100% { -moz-transform: translateX(0%); }
} 
@-o-keyframes mover-brand {
    0% {opacity:0;}
    100% {opacity:1;}
    0% { -o-transform: translateX(50%); }
    100% { -o-transform: translateX(0%); }
} 
@keyframes mover-brand {
    0% {opacity:0;}
    100% {opacity:1;}
    0% { transform: translateX(50%); }
    100% { transform: translateX(0%); }
}

.mover-brand {
    -webkit-animation:  mover-brand 2s ease-in-out forwards;
    -moz-animation:  mover-brand 2s ease-in-out forwards;
    -o-animation:  mover-brand 2s ease-in-out forwards;
    animation:  mover-brand 2s ease-in-out forwards;
   
}

@-webkit-keyframes mover-vert {
   
    0% {opacity:0;}
    100% {opacity:1;}
    0% { -webkit-transform: translateY(60%); }
    100% { -webkit-transform: translateY(0%); }
  
} 
@-moz-keyframes mover-vert {
    0% {opacity:0;}
    100% {opacity:1;}
    0% { -moz-transform: translateY(60%); }
    100% { -moz-transform: translateY(0%); }
} 
@-o-keyframes mover-vert {
    0% {opacity:0;}
    100% {opacity:1;}
    0% { -o-transform: translateY(60%); }
    100% { -o-transform: translateY(0%); }
} 
@keyframes mover-vert {
    0% {opacity:0;}
    100% {opacity:1;}
    0% { transform: translateY(60%); }
    100% { transform: translateY(0%); }
}

.mover-vert {   
    -webkit-animation: mover-vert 3s ease-in-out forwards;
    -moz-animation: mover-vert 3s ease-in-out forwards;
    -o-animation: mover-vert 3s ease-in-out forwards;
    animation: mover-vert 3s ease-in-out forwards;
   
}
