@import 'vars.less';
@import 'font.css';

body {
    font-size: 12px;
    line-height: 1.2;
    background-color: @white;
    margin-top: 100px;
    font-family: Montserrat;
    overflow-x: hidden;
}

header {
    box-sizing: border-box;
    padding-bottom: 15px;
    height: 110px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: @white;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    @media @onlyMobile {
         height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        padding: 0 0.4rem;
    }
}

header > section {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    background-color:@white;
    display: flex;
    @media @onlyMobile {
        height: 50px;
        padding-right: 3px;
        justify-content: space-between;
        align-items: center;
    }
    @media @onlyDesktopSmall {
        max-width: 1279px;
        padding-right: 8px;
    }   
    @media @onlyDesktop{
        max-width: 1359px;
        padding-right: 8px;
    }
    @media @onlyDesktopMid {
        max-width: 1439px;
        padding-right: 13px;
    }   
    @media @onlyDesktopBig {
        max-width: 1920px;
        padding-right: 15px;
    }   
}

.logo-container {
    
    -webkit-box-align: center;
    align-items: center;
    flex-basis: 20%;
    width: 20%;
    height: 120px;
    display: flex;
    background-image: url('../img/logotipo_home.png');
    background-size: contain;
    background-repeat: no-repeat;
    
    @media @onlyMobile {
      
        height: 50px;
    }
    @media @onlyDesktopSmall {
        max-width: 150px;
    }   
    @media @onlyDesktop{
        max-width: 170px;
    }
    @media @onlyDesktopMid {
        max-width: 190px;
    }   
    @media @onlyDesktopBig {
        max-width: 210px;
    } 

}

::-webkit-scrollbar{width:2px;height:2px;}
::-webkit-scrollbar-button{width:2px;height:2px;}

::-moz-scrollbar{width:2px;height:2px;}
::-moz-scrollbar-button{width:2px;height:2px;}

main {
    margin-bottom: 0 !important;
    overflow-x: hidden;
}
/*
.main-wrapper {
    position:absolute;
    display:block;
    top:0;
    left:0;
    width:80px;
    max-height:500px;
    margin:0;
    background:#abc;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
} 

.horizontal-scroll-wrapper {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: calc(@finalHeight + @scrollBarHeight);
    max-height: @finalWidth;
    margin: 0;
    padding-top: @scrollBarHeight;
    background: #abc;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-@finalHeight);
    & > .container {
        display: block;
        padding: 5px;
        background: #cab;
        transform: rotate(90deg);
        transform-origin: right top;
      }
  }

.container {
    display: block;
    padding: 5px;
    transform: rotate(90deg);
    transform-origin: right top;
    margin: 0 auto;
    box-sizing: border-box;
   /* width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
    transform:rotate(90deg);
    transform-origin: right top;
    margin-bottom: 0;
    background-color: @white; 
    @media @onlyMobile {
        max-width: 720px;
    }
    @media @onlyDesktopSmall {
        max-width: 1279px;
        min-height: 720px;
    }   
    @media @onlyDesktop {
        max-width: 1359px;
        min-height: 720px;
        // max-width: 1440px;
    }   
    @media @onlyDesktopMid {
        max-width: 1439px;
        min-height: 750px;
    }
    @media @onlyDesktopBig {
        max-width: 1900px;
        min-height: 750px;
      // max-width: 1440px;
    }   
}
*/
.content {
    width: 100%;
    height: auto;
    position: relative;
    
    margin: auto;
    display: flex;
    align-items: center;
    @media @onlyMobile {
        min-width: 80%;
        min-height: 500px;
    }
    @media @onlyDesktopSmall {
        min-width: 769px;
        min-height: 500px;
        padding-left: 35px;
    }   
    @media @onlyDesktop {
        min-width: 1200px;
        min-height: 500px;
        padding-left: 35px;
    }   
    @media @onlyDesktopMid {
        min-width: 1300px;
        min-height: 500px;
        padding-left: 35px;
    }   
    @media @onlyDesktopBig {
        min-width: 1400px;
        min-height: 600px;
        padding-left: 35px;
    } 
  }
  
footer {
    width: 100%;
    height: 70px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    background-color: @white;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    align-content: center;
    align-items: center;
    @media @onlyMobile {
        height: auto;
        display: block;
        position: sticky;
     }

}

footer > section {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    background-color:@white;
    display: block;
    align-items: center;
    justify-content: space-between;
    @media @onlyMobile {
        max-width: 720px;
    }
    @media @onlyDesktopSmall {
        max-width: 980px;
    }   
    @media @onlyDesktop{
        max-width: 1200px;
    }
    @media @onlyDesktopMid {
        max-width: 1400px;
      
    }   
    @media @onlyDesktopBig {
        max-width: 1900px;
       
    }   
}
