@error:#ed174d;
@black: #000;
@white: #fff;
@gray-light: #dbdbdb;
@gray: #e1e1e1;
@gray-dark: #595959;
@gray-med: #8a8a8a;


// media queries;
@allExceptXSmaill:~"onpy screen and (min-width: 321px)";


@onlyMobileXSmall:~"only screen and (max-width: 320px)";
@onlyMobileSmall: ~"only screen and (max-width: 414px) and (min-width: 321px)";
@onlyFromiPhone6: ~"only screen and (max-width: 667px)";
@onlyMobile: ~"only screen and (max-width: 768px)";


@onlyDesktopSmall: ~"only screen and (min-width: 769px) and (max-width: 1279px)";
@onlyDesktop: ~ "only screen and (min-width: 1280px) and (max-width: 1359px)";
@onlyDesktopMid: ~ "only screen and (min-width: 1360px)  and (max-width: 1800px)";
@onlyDesktopBig: ~ "only screen and (min-width: 1801px)";



@paddingMobile: 5%;
@margin-label: 12px;

@finalHeight: 720px;
@finalWidth: calc(3 * @finalHeight);
@scrollBarHeight: 1px;

// MIXINS FLEXBOX-IE
.flex(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.align-center(){
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.justify-content-between(){
    -webkit-justify-content:space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
}
