
<app-header  (pathValue)= "addItem($event)"  [offsetValue]="offsetValue"></app-header>

<div class="swiper" #swiper>
  <div class="swiper-wrapper">
      <div class="swiper-slide" data-hash="home" data-history="home">
       <!-- <section class="container home" [ngStyle]="{'height.px' : windowW, 'max-width.px' : HCont }"  > -->
        <section class="container home swiper-lazy"  >
       <!--   <div class="content" [ngStyle]="{'height.px' : windowW }" [hidden]="offsetValue != ''"> -->
        <div class="content">
            <p class="txt-c">
              <span class="text ">TENEMOS LO</span><br>
              <span class="text pink">QUE NECESITAS</span>   
            </p>
            <img class="homeImg" src="{{imgs}}gorra.png">
          </div>
        </section>  
      </div>
      <div class="swiper-slide" data-hash="branding" data-history="branding">
        <app-branding class="branding swiper-lazy" [offsetValue]="offsetValue" ></app-branding>
      </div>
      <div class="swiper-slide" data-hash="impresion" data-history="impresion">
        <app-impresion class="impresion swiper-lazy" [offsetValue]="offsetValue"></app-impresion>
      </div>
      <div class="swiper-slide" data-hash="impresion" data-history="impresion">
        <app-textil class="impresion swiper-lazy" [offsetValue]="offsetValue" ></app-textil>
      </div>
      <div class="swiper-slide" data-hash="crafting" data-history="crafting">
        <app-crafting class="crafting" [offsetValue]="offsetValue" ></app-crafting>
      </div>
      <div class="swiper-slide" data-hash="envios" data-history="envios">
        <app-envios (viewTyC)="showTyC($event)" class="envios" [offsetValue]="offsetValue"></app-envios>
      </div>
      <div class="swiper-slide" data-hash="contacto" data-history="contacto">
        <app-contacto class="contacto" [offsetValue]="offsetValue"></app-contacto>
      </div>
  </div>
 <!-- <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
</div>



<app-footer *ngIf="this.windowW > 700"></app-footer>




