@import '../../assets/styles/vars.less';
/*

@finalHeight: 720px;
@finalWidth: calc(6 * @finalHeight);
@scrollBarHeight: 1px;
::-webkit-scrollbar {
  width: @scrollBarHeight;
  height: @scrollBarHeight;
}

::-webkit-scrollbar-button {
  width: @scrollBarHeight;
  height: @scrollBarHeight;
}

div {
  box-sizing: border-box;
}

.horizontal-scroll-wrapper {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  padding-top: @scrollBarHeight;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 134px;
  transform-origin: right top;
  & > div {
    display: block;
    padding: 10px;
    background: #cab;
    transform: rotate(90deg);
    transform-origin: right top;
  } 
  & > .container {
    width: 100%;
    position:relative;
    display: block;
    padding: 10px;
    transform: rotate(90deg);
    transform-origin: right top;
  }
}

.squares {
  & > div {

    margin: 10px 0;
  }
}

// swiper core styles
//@import 'swiper/less';
//@import 'swiper/less/pagination';
//@import 'swiper/less/navigation';
/*
.swiper {
    width: 100%;
    height: 100%;
    min-height: 500px;
  }
  
  .swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    min-height: 600px;
  }
  
  .swiper-slide:nth-child(1) {
    background-color:red;
  }
  .swiper-slide:nth-child(2) {
    background-color:blue;
  }
  .swiper-slide:nth-child(3) {
    background-color:green;
  }
  .swiper-slide-active {z-index:2;}
  .swiper-slide-prev {z-index:1;}
  .swiper-slide-next {z-index:0;}
  
  .parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
  }
  .swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
  }
  
  .swiper-slide .subtitle {
    font-size: 21px;
  }
  
  .swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
  }
  */

  .container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 11px;
    margin-top: 3%;
    @media @onlyMobile {
      background: @white;
    }
    @media @onlyDesktopSmall { 
      background: @white;
    }
  
  }

  .home {
    background-image: url('../../assets/img/textura.png');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .content {
    display: block;
    position: relative;
    float: left;
    @media @onlyMobile {
      width: 100%;
      padding-right: 3px;
      margin: auto;
      align-content: center;
      justify-content: center;
      float: initial;
     // margin: 0 2% 0 2%;
     
  }
  @media @onlyDesktopSmall {
      max-width: 1200px;
      padding-right: 8px;
    
      margin: 0 10% 0 10%;
  }   
  @media @onlyDesktop{
      max-width: 1359px;
      padding-right: 8px;
      margin: auto;
      margin: 0 13% 0 10%;
  }
  @media @onlyDesktopMid {
      max-width: 1439px;
      padding-right: 13px;
      margin: 0 10% 0 10%;
  }   
  @media @onlyDesktopBig {
      max-width: 1920px;
      padding-right: 15px;
      margin: 0 10% 0 10%;
  }   
}
  
.content p {
  line-height: 1;
   position: relative;
   display: block;
   
}

.text {
  position: relative;
  width: auto;
  min-width: 16%;
  height: 50px;
  font-family: Montserrat;
  font-style: nomal;
  font-weight: 800;
  
} 

.pink {
    color:#d9068f
}

.txt-c {
  position: absolute;
  display: block;
  
  @media @onlyMobile {
    width: 80%;
    left: 12%;
   // margin-top: 11%;
    font-size: 30px;
    margin: auto;
    float: left;
  }
  @media @onlyDesktopSmall {
    width: 56%;
    left: -2%;
    margin-top: 15%;
    font-size: 40px;
  }   
  @media @onlyDesktop{
    width: 56%;
    left: 0%;
    margin-top: 11%;
    font-size: 50px;
  }
  @media @onlyDesktopMid {
    width: 56%;
    left: 0%;
    margin-top: 13%;
    font-size: 50px;
  }   
  @media @onlyDesktopBig {
    width: 56%;
    left: 4%;
    margin-top: 14%;
    font-size: 60px;
  }   
 
}

@-webkit-keyframes mover-h {
  0% {opacity:0;}
  100% {opacity:1;}
  0% { -webkit-transform: translateX(-5%); }
  100% { -webkit-transform: translateX(0%); }

} 
@-moz-keyframes mover-h {
  0% {opacity:0;}
  100% {opacity:1;}
  0% { -moz-transform: translateX(-5%); }
  100% { -moz-transform: translateX(0%); }
} 
@-o-keyframes mover-h {
  0% {opacity:0;}
  100% {opacity:1;}
  0% { -o-transform: translateX(-5%); }
  100% { -o-transform: translateX(0%); }
} 
@keyframes mover-h {
  0% {opacity:0;}
  100% {opacity:1;}
  0% { transform: translateX(-5%); }
  100% { transform: translateX(0%); }
}

.mover-h {
  -webkit-animation:  mover-h 1s ease-in-out forwards;
  -moz-animation: mover-h 1s ease-in-out forwards;
  -o-animation: mover-h 1s ease-in-out forwards;
  animation:  mover-h 1s ease-in-out forwards;
 
}

.homeImg {
  width: auto;
  height: auto;
  position: relative;
  display: block;
 
  
  @media @onlyMobile {
    width: auto;
      max-height: 200px;
      float: left;
      margin:9%;
      
  }
  @media @onlyDesktopSmall {
      max-height: 370px;
      max-width: 40%;
      margin-right: 5%;
      margin-top: -18%;
      float: right;
  }   
 
  @media @onlyDesktop {
    max-height: 390px;
    margin-right: 9%;
    margin-top: -20%;
    float: right;
} 
@media @onlyDesktopMid {
  max-height: 450px;
  margin-right: 5%;
  margin-top: -20%;
  float: right;
}
  @media @onlyDesktopBig {
      max-height: 650px;
      margin-right: -5%;
      margin-top: -19%;
      float: right;
  } 
}

@-webkit-keyframes mover-h-img {
  0% {opacity:0;}
  100% {opacity:1;}
  0% { -webkit-transform: translateX(-25%); }
  100% { -webkit-transform: translateX(0%); }

} 
@-moz-keyframes mover-h-img {
  0% {opacity:0;}
  100% {opacity:1;}
  0% { -moz-transform: translateX(-25%); }
  100% { -moz-transform: translateX(0%); }
} 
@-o-keyframes mover-h-img {
  0% {opacity:0;}
  100% {opacity:1;}
  0% { -o-transform: translateX(-25%); }
  100% { -o-transform: translateX(0%); }
} 
@keyframes mover-h-img {
  0% {opacity:0;}
  100% {opacity:1;}
  0% { transform: translateX(-25%); }
  100% { transform: translateX(0%); }
}

.mover-h-img {
  -webkit-animation:  mover-h-img 1.5s ease-in-out forwards;
  -moz-animation: mover-h-img 1.5s ease-in-out forwards;
  -o-animation: mover-h-img 1.5s ease-in-out forwards;
  animation:  mover-h-img 1.5s ease-in-out forwards;
 
}


