@import '../../assets/styles/vars.less';

.container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    padding: 11px;
    margin-top: 3%;
    @media @onlyMobile {
        margin-top: 3%;
    }
}

.content {
    display: block;
    position: relative;
    float: left;
    @media @onlyMobile {
        width: 96%;
        padding-right: 3px;
        margin: auto;
        align-content: center;
        justify-content: center;
        float: initial;
    }
    @media @onlyDesktopSmall {
        max-width: 1200px;
        padding-right: 8px;
        min-width: 900px;
        margin: 0 10% 0 1%;
    }   
    @media @onlyDesktop{
        max-width: 1359px;
        padding-right: 8px;
        margin: auto;
        margin: 0 13% 0 10%;
    }
  @media @onlyDesktopMid {
      max-width: 1439px;
      padding-right: 13px;
      margin: 0 10% 0 10%;
  }   
  @media @onlyDesktopBig {
      max-width: 1920px;
      padding-right: 15px;
      margin: 0 10% 0 10%;
  }   
}